* {
    margin: 0;
    padding: 0;
}

.html, body {
    height: 100%;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

.slider {
    background-image: url(images/sliderimg.jpg);
    padding: 0 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-header {
    display: flex;
    justify-content: space-between;
    padding-top: 62px;
    margin-bottom: 25px;
}

.header-logo {
    margin: 0 10px 30px 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 490px;
    text-align: right;
}

.menu-hamburg {
    width: 50px;
    height: 50px;
    display: none;
}

.menu-list {
    list-style-type: none;
    padding-left: 10px;
}

.menu-link {
    text-decoration: none;
    font-weight: 300;
    color: #8c8c8c;
    font-family: Montserrat, AdobeInvisFont, MyriadPro-Regular;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.menu-link:hover {
    font-weight: 700;
    color: #212121;
    border-bottom: 3px solid #212121;
}

.slider-content {
    padding-top: 170px;
    margin-bottom: 170px;
}
.slider-content-tag {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #43a047;
}

.slider-content-name {
    font-family: Montserrat;
    font-size: 62px;
    font-weight: 100;
    text-align: left;
    text-transform: uppercase;
    color: #212121;
    width: 500px;
}

.slider-content-details {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: left;
    color: #6C6C6C;
    margin-bottom: 31px;
    width: 459px;
}

.button-order {
    width: 212px;
    height: 45px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    border-radius: 22.5px;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-bottom: 1px;
}

.arrow {
    margin: 0 0 0 10px;
}

.slider-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.slider-ball {
    display: block;
    width: 35px;
    height: 35px;
    opacity: 0.2;
    background-color: #212121;
    border-radius: 50px;
    margin: 5px;
}

.active-ball {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    opacity: 1;
    margin-top: 2px;
}

.featured-product {
    background-color: #FFFFFF;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab-menu {
    display: flex;
    justify-content: space-between;
    margin: 120px 97px 50px 97px;
}

.tab-menu-left {
    display: flex;
    justify-content: space-around;
}

.tab-menu-list {
    list-style-type: none;
}

.tab-menu-link {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #6c6c6c;
    text-decoration: none;
    border-bottom: 1px solid #6c6c6c;
}

.tab-menu-link-active {
    color: #212121;
    border-bottom: 3px solid #212121;
    margin-right: 5px;
}

.tab-explore {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    text-decoration: none;
    align-self: center;
}

.tab-content {
    display: flex;
    justify-content: space-between;
    margin: 0 97px 120px 97px;
}

.content-product1 {
    position: relative;
}

.content-product1:hover .product1-hover {
    opacity: 0.8;
    background-color: #ffffff;
}

.product1-hover {
    opacity: 0;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
}



.featured-arrow {
    width: 48px;
    height: 48px;
    font-weight: 700;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
}

.featured-hover-name {
    font-family: Montserrat;
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    color: #212121;
    text-align: center;
}

.featured-hover-details {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #6c6c6c;
    text-align: center;
}

.promo-product {
    display: flex;
}

.promo-product-left {
    background-image: url(images/promo-img1@1X.png);
    width: 683px;
    height: 683px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.promo-product-right {
    background-image: url(images/promo-img@1X.png);
    width: 683px;
    height: 683px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.promo-product-tag {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    margin-bottom: 15px;
}

.promo-product-name {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    margin-bottom: 20px;
}

.promo-product-details {
    display: block;
    width: 374px;
    font-family: Montserrat;
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    text-align: left;
    margin-bottom: 30px;
}

.trending-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 97px;
    margin-right: 97px;
}

.trending-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 119px 0 64px 0;
}

.trending-title-product {
    opacity: 1;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    text-align: left;
    font-weight: bold;
}

.trending-menu-explore {
    text-decoration: none;
    color: #212121;
    text-align: right;
}

.trending-explore {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    text-decoration: none;
    align-self: center;
}

.trending-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.trending-image {
    margin-bottom: 20px;
}

.hot-deals {
    height: 800px;
    background-image: url(images/slider@1X.png);
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 97px;
}

.hot-deals-tag {
    opacity: 1;
    color: #E53935;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    align: left;
    margin-top: 287px;
    margin-bottom: 15px;
}

.hot-deals-name {
    opacity: 1;
    color: #212121;
    font-family: Montserrat;
    font-size: 62px;
    align: left;
    font-weight: 100;
    margin-bottom: 30px;
}

.hot-deals-details {
    display: block;
    width: 458px;
    opacity: 1;
    color: #6C6C6C;
    font-family: Montserrat;
    font-size: 14px;
    align: left;
    margin-bottom: 30px;
}

.exclusive-product {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: 120px 97px;
}

.exclusive-left {
    width: 570px;
    padding-top: 200px;
    padding-left: 30px;
    background-image: url(images/product-1-lg@1X.png);
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exclusive-right {
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-exclusive-product {
    margin-bottom: 30px;
}

.mobile-app {
    height: 516px;
    background-image: url(images/back-img@1X.jpeg);
    padding-left: 97px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-app-tag {
    opacity: 1;
    color: #6C6C6C;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    align: left;
    margin-top: 50px;
    margin-bottom: 10px;
}

.mobile-app-name {
    display: block;
    width: 407px;
    opacity: 1;
    color: #212121;
    font-family: Montserrat;
    font-weight: 100;
    font-size: 62px;
    align: left;
    padding-bottom: 15px;
}

.mobile-app-details {
    display: block;
    width: 413px;
    opacity: 1;
    color: #6C6C6C;
    font-family: Montserrat;
    font-size: 22px;
    align: left;
    padding-bottom: 15px;
}

.menu-store {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.menu-list-store {
    list-style-type: none;
}

.clr {
    height: 385px;
}

.footer {
    display: flex;
    max-width: 1366px;
    width: 100%;
    margin: -385px auto 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(images/footer-back.png);
    height: 385px;
}

.contact-us {
    width: 221px;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 97px;
    margin-top: 120px;
}

.headcontactus {
    display: block;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.parcontactus {
    display: block;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
}

.footer-icon {
    width: 25px;
    height: 25px;
}

.usefull {
    width: 422px;
    height: 101px;
    margin-top: 120px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.intouch {
    width: 372px;
    height: 148px;
    margin-top: 120px;
    margin-right: 97px;
    margin-left: 77px;
}

.copyright {
    margin-left: 97px;
    margin-bottom: 39px;
    margin-top: 77px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
}

.social-link {
    height: 28px;
    margin: 70px 0 30px 158px;
}

.terms {
    margin: 67px 97px 38px 150px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
}

.headusefull {
    width: 390px;
}

.parusefull {
    display: block;
    margin-top: 25px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
}

.parusleft {
    width: 137px;
}

.parusright {
    width: 187px;
}

.headintouch {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.parintouch {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    margin: 24px 0 25px 0;
}

.emailform {
    display: flex;
    width: 371px;
    height: 49px;
    background-color: white;
}

.inputemail {
    width: 320px;
    height: 49px;
    border: 1px solid #d9dee1;
    padding-left: 20px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #6c6c6c;
}

.buttonemail {
    width: 49px;
    height: 51px;
    background-color: white;
    border: 1px solid #d9dee1;
}

.container-contacts {
    width: 1367px;
    margin: 0 auto;
}

.header-contacts {
    height: 361px;
    background-image: url(images/headercontacts.png);
    padding-left: 97px;
    padding-right: 168px;
}

.contactuscontacts {
    color: #212121;
    font-family: Montserrat;
    font-size: 62px;
    font-weight: 100;
    align: left;
    margin-top: 171px;
    margin-bottom: 57px;
}

.location {
    display: flex;
    justify-content: space-between;
    padding: 69px 97px 122px 97px;
}

.adress {
    width: 371px;
    height: 371px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #6c6c6c;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #9c9c9c;

}

.locationiconcontact {
    margin-top: 39px;
}

.contact-head-california {
    margin-top: 34px;
    font-family: Montserrat;
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
}

.contact-adress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
    height: 138px;
}

.conactcalifornia {
    color: #212121;
}

.californiastreet {
    font-weight: 300;
}

.container-product {
    width: 1367px;
    margin: 0 auto;
}

.product-products {
    width: 1170px;
    height: 1690px;
    margin: 50px 97px 0 97px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products-products-image {
    margin-bottom: 30px;
}

.product-tab-menu {
    display: flex;
    list-style-type: none;
    width: 647px;
    margin: 70px 0 50px 97px;
}

.product-tab-menu-link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    text-align: left;
}

.product-tab-menu-link-active {
    color: #212121;
}

.product-tab-menu-list {
    padding-left: 20px;
}

.product-tab-menu-list-thin {
    border-bottom: 1px solid #6c6c6c;
}

.product-tab-menu-list-active {
    border-bottom: 3px solid #212121;
}

.container-deails {
    width: 1367px;
    margin: 0 auto;
}

.tab-menu-deails {
    list-style-type: none;
    height: 71px;
    background-image: url(images/back-details.png);
    display: flex;
    justify-content: center;
}

.tab-menu-deails-list {
    display: flex;
    align-content: center;
    padding-top: 5px;
}

.tab-menu-deails-link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    margin: 20px;
}

.tab-menu-deails-link-active {
    color: #212121;
}

.product-deails-content-name {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    margin-top: 47px;
}

.product-deails-content-tag {
    font-family: Montserrat;
    font-size: 18.1px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e53935;
    margin-top: 20px;
}

.product-deails-content-price {
    font-family: Gotham;
    font-size: 36.1px;
    line-height: 48px;
    font-weight: 300;
    color: #212121;
    margin-top: 30px;
}

.product-deails-content-price>span {
    font-size: 72.1px;
    text-transform: uppercase;
}

.deails-button-order {
    width: 510px;
    height: 71px;
    color: #ffffff;
    background-color: #f44336;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    border-radius: 35px;
    font-size: 22px;
    line-height: 71px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 30px;
    margin-bottom: 45px;
}

.product-deails-content-details {
    align-self: start;
    font-family: Montserrat;
    font-size: 16.1px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #212121;
}

.product-deails-slider-content {
    display: flex;
    margin-left: 97px;
    margin-right: 130px;
    justify-content: space-between;
    margin-top: 70px;
}

.product-deails-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-deails-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
}

.product-deails-related {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-deails-related-title {
    display: flex;
    justify-content: space-between;
    margin: 210px 97px 60px 97px;
}

.product-deails-relaited-title-left {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.product-deails-relaited-title-right {
    font-family: Montserrat;
    text-decoration: none;
    font-size: 18px;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
}

.product-deails-related-products {
    display: flex;
    justify-content: space-between;
    margin: 0 97px 120px 97px;
}

@media screen and (max-width: 1360px) {
    .footer {
        box-sizing: border-box;
        padding: 50px 97px;
    }
    .contact-us, .usefull, .intouch, .copyright, .social-link, .terms {
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width: 1280px){
    .tab-content {
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-between;
        margin: 0 auto;  
    }
}
@media screen and (max-width: 1210px) {
    .footer {
        padding: 50px 30px;
        height: auto;
    }
    .contact-us, .usefull, .intouch, .social-link, .copyright, .terms {
        margin-bottom: 50px;
    }
    .copyright {
        display: flex;
        align-items: center;
    }
    .slider-header {
        padding-top: 23px;
        margin: 0;
    }
    .menu-list, .header-logo {
        margin: 0;
        padding-top: 0;
    }
}

@media screen and (max-width: 1210px) {
    .footer {
        padding: 50px 110px;
        height: auto;
    }

@media screen and (max-width: 1000px) {
    .slider, .promo-product-left, .promo-product-right {
        background-position: center;
        background-repeat: no-repeat;
    }
    .slider-header {
        padding-top: 23px;
    }
    .menu-list, .header-logo {
        margin-top: 0;
        padding-top: 0;
    }
    .promo-product {
        flex-wrap: wrap;
        justify-content: center;
    }
    .promo-product-left, .promo-product-right {
        align-items:center;
    }
    .tab-menu {
        margin: 55px 97px 50px 97px;
    }
    .footer {
        padding: 50px 55px;
        height: auto;
    }
}

@media screen and (max-width: 930px) {
    .trending-products {
        justify-content: center;
    }
    .trending-menu {
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }
    .trending-title-product {
        margin-bottom: 30px;
        text-align: center;
    }
    .mobile-app {
        background-position: center;

    }
}
@media screen and (max-width: 800px) {
    .slider, .hot-deals {
        background-position: center;
    }
    .slider {
        padding: 50px 0;
    }
    .slider-header {
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 12px;
    }
    .slider-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20%;
        margin-bottom: 20%;
    }
    .slider-content-name, .slider-content-details {
        text-align: center;
        width: auto;
    }
    .slider-footer {
        margin: 0;
    }
    .slider-header {
        padding: 0;
    }
    
    .tab-menu {
        flex-direction: column;
        align-items: center;
        margin: 2% auto;
    }
    .tab-menu-left {
        margin-bottom: 5%;
    }
    .tab-content {
        width: auto;
        margin: 0 5% 8% 5%;
    }
    .hot-deals {
        align-items: center;
    }
    .exclusive-right {
        justify-content: center;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .headusefull {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .tab-content {
        justify-content: center;
    }
    .exclusive-product {
        margin: 50px 0 0 0;
    }
}

@media screen and (max-width: 500px) {
    .slider {
        background-position: center;
    }
    .menu {
        display: none;
    }
    .menu-hamburg {
        display: block;
    }
    .slider-header {
        justify-content: space-between;
        align-items: center;
    }
    .header-logo {
        margin: 0;
    }
    .trending-product {
        margin-left: 0;
        margin-right: 0;
    }
    .trending-products {
        width: 100%;
    }
    .trending-image {
        width: 100%;
    }
    .hot-deals {
        padding: 0 20px;
        text-align: center;
    }
    .promo-product {
        text-align: center;
    }
    .promo-product-left, .promo-product-right {
        padding: 0
    }
    .promo-product-details {
        width: auto;
        text-align: center;
    }
    .hot-deals-details {
        width: auto;
    }
    .mobile-app {
        align-items: center;
        text-align: center;
        padding: 0;
    }
    .menu-store {
        width: auto;
    }
    .usefull {
        text-align: center;
        justify-content: center;
        height: auto;
        width: auto;
    }
    .headusefull, .parusleft, .parusright {
        width: auto;
    }
    .intouch, .emailform, .mobile-app-details, .mobile-app-name {
        width: auto;
        height: auto;
    }
    .inputemail {
        width: 100%;
    }
    
}

@media screen and (max-width: 1330px) {
    .exclusive-product {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    .exclusive-left {
        margin: 0 0 30px 0;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0;
    }
    .promo-product-tag {
        margin: 50px 0;
    }
    .promo-product-name, .promo-product-details {
        margin-bottom: 50px;
    }
    .button-order {
        margin: 0 0 75px 0;
    }
}