* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(images/sliderimg.jpg);
    padding-right: 167px;
    padding-left: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slider-header {
    display: flex;
    justify-content: space-between;
    height: 28px;
    padding-top: 62px;
}

.menu {
    display: flex;
    justify-content: space-around;
    height: 10px;
    width: 490px;
    text-align: right;
}

.menu-list {
    list-style-type: none;
    padding-left: 10px;
}

.menu-link {
    text-decoration: none;
    font-weight: 300;
    color: #8c8c8c;
    font-family: Montserrat, AdobeInvisFont, MyriadPro-Regular;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.menu-link-active {
    font-weight: 700;
    color: #212121;
    border-bottom: 3px solid #212121;
}

.slider-content-tag {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #43a047;
}

.slider-content-name {
    font-family: Montserrat;
    font-size: 62px;
    font-weight: 100;
    text-align: left;
    text-transform: uppercase;
    color: #212121;
    width: 500px;
}

.slider-content-details {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: left;
    color: #6C6C6C;
    margin-bottom: 31px;
    width: 459px;
}

.button-order {
    width: 212px;
    height: 45px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33,33,33,0.34);
    border-radius: 22.5px;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-bottom: 1px;
}

.arrow {
    margin: 0 0 0 10px;
}

.slider-footer {
    display: flex;
    justify-content: center;
}
    
.slider-ball {
    display: block;
    width: 35px;
    height: 35px;
    opacity: 0.2;
    background-color: #212121;
    border-radius: 50px;
    margin: 5px;
}

.active-ball {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    opacity: 1;
    margin-top: 2px;
}

.featured-product {
    background-color: #FFFFFF;
    height: 1292px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab-menu {
    display: flex;
    justify-content: space-between;
    margin: 120px 97px 50px 97px;
}

.tab-menu-left{
    display: flex;
    justify-content: space-around;
}
.tab-menu-list {
    list-style-type: none;
}

.tab-menu-link {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #6c6c6c;
    text-decoration: none;
    border-bottom: 1px solid #6c6c6c;
}

.tab-menu-link-active {
    color: #212121;
    border-bottom: 3px solid #212121;
    margin-right: 5px;
}

.tab-explore {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    text-decoration: none;
    align-self: center;
}

.tab-content {
    display: flex;
    justify-content: space-between;
    margin: 0 97px 120px 97px;
}

.content-product1 {
    position: absolute;
    z-index: 1;
}

.product1-hover {
    width: 270px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-product1:hover {
    opacity: 0.1;
}

.featured-arrow {
    width: 48px;
    height: 48px;
    font-weight: 700;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33,33,33,0.34);
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
}

.featured-hover-name {
    font-family: Montserrat;
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    color: #212121;  
    text-align: center;
}

.featured-hover-details {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #6c6c6c;
    text-align: center;
}

.promo-product {
    display: flex;
}

.promo-product-left {
    background-image: url(images/promo-img1@1X.png);
    width: 683px;
    height: 683px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.promo-product-right {
    background-image: url(images/promo-img@1X.png);
    width: 683px;
    height: 683px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.promo-product-tag {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    margin-bottom: 15px;
}

.promo-product-name {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    margin-bottom: 20px;
}

.promo-product-details {
    display:block;
    width: 374px;
    font-family: Montserrat;
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    text-align: left;
    margin-bottom: 30px;
}

.trending-product {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 97px;
    margin-right: 97px;
}

.trending-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 119px 0 64px 0;
}

.trending-title-product {
    opacity: 1;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    text-align: left;
    font-weight: bold;
}

.trending-menu-explore {
    text-decoration: none;
    color: #212121;
    text-align: right;
}

.trending-explore {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    text-decoration: none;
    align-self: center;
} 

.trending-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trending-image {
    margin-bottom: 20px;
}

.hot-deals {
    height: 800px;
    background-image: url(images/slider@1X.png);
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 97px;
}

.hot-deals-tag {
    opacity:1;
    color: #E53935;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    align: left;
    margin-top: 287px;
    margin-bottom: 15px;
}

.hot-deals-name {
    opacity: 1;
    color: #212121;
    font-family: Montserrat;
    font-size: 62px;
    align: left;
    font-weight: 100;
    margin-bottom: 30px;
}

.hot-deals-details {
    display: block;
    width: 458px;
    opacity: 1;
    color: #6C6C6C;
    font-family: Montserrat;
    font-size: 14px;
    align: left;
    margin-bottom: 30px;
}

.button-order {
    margin-bottom: 220px;
}

.exclusive-product {
    width: 1170px;
    height: 570px;
    display: flex;
    justify-content: space-between;
    margin: 120px 97px;
}

.exclusive-left {
    width: 570px;
    padding-top: 200px;
    padding-left: 30px;
    background-image: url(images/product-1-lg@1X.png);
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exclusive-right {
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-exclusive-product {
    margin-bottom: 30px;
}

.mobile-app {
    height: 516px;
    background-image: url(images/back-img@1X.jpeg);
    padding-left: 97px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-app-tag {
    opacity: 1;
    color: #6C6C6C;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    align: left;
    margin-top: 50px;
    margin-bottom: 10px;
}

.mobile-app-name {
    display: block;
    width: 407px;
    opacity: 1;
    color: #212121;
    font-family:Montserrat;
    font-weight: 100;
    font-size: 62px;
    align: left;
    padding-bottom: 15px;
}

.mobile-app-details {
    display: block;
    width: 413px;
    opacity: 1;
    color: #6C6C6C;
    font-family: Montserrat;
    font-size: 22px;
    align: left;
    padding-bottom: 15px;
}

.menu-store {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.menu-list-store {
    list-style-type: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(images/footer-back.png);
    height: 385px;
}

.contact-us {
    width: 221px;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 97px;
    margin-top: 120px;
}

.headcontactus {
    display: block;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.parcontactus {
    display: block;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
}

.footer-icon {
    width: 25px;
    height: 25px;
}

.usefull {
    width: 422px;
    height: 101px;
    margin-top: 120px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.intouch {
    width: 372px;
    height: 148px;
    margin-top: 120px;
    margin-right: 97px;
    margin-left: 77px;
}

.copyright {
    margin-left: 97px;
    margin-bottom: 39px;
    margin-top: 77px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
}

.social-link {
    height: 28px;
    margin:70px 0 30px 158px; 
}

.terms {
    margin: 67px 97px 38px 150px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;    
}

.headusefull {
    width: 390px;
}
.parusefull {
    display: block;
    margin-top: 25px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
}

.parusleft {
    width: 137px;
}

.parusright {
    width: 187px;
}

.headintouch {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.parintouch {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    margin: 24px 0 25px 0;
}

.emailform {
    display: flex;
    width: 371px;
    height: 49px;
    background-color: white;
}

.inputemail {
    width: 320px;
    height: 49px;
    border: 1px solid #d9dee1;
    padding-left: 20px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #6c6c6c;
}

.buttonemail {
    width: 49px;
    height: 51px;
    background-color: white;
    border: 1px solid #d9dee1;
}